<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <title>Login</title>
</head>

<body>
   <div class="container">
      <form>
         <div class="form-group">
            <h3>Acesso do Sistema</h3>
         </div>

         <div class="form-group">
            <label for="login">E-mail</label>
            <input type="email" class="form-control" #email="ngModel" [(ngModel)]="usuario.login" id="login"
               name="login" required>

            <div *ngIf="email.invalid" class="alert alert-danger">
               Informe o Login
            </div>
         </div>

         <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" #senha="ngModel" [(ngModel)]="usuario.senha" id="senha"
               name="senha" required>

            <div *ngIf="senha.invalid" class="alert alert-danger">
               Informe a Senha
            </div>
         </div>

         <button type="button" [disabled]="email.invalid || senha.invalid" class="btn btn-primary"
            (click)="login()">Acessar</button>
         <button style="margin-left: 10px;" type="button" [disabled]="email.invalid" class="btn btn-primary"
            (click)="recuperar();">Esqueci minha senha</button>

      </form>
   </div>
</body>

</html>