<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuários</title> 
    <link rel="icon" type="image/x-icon" href="assets/studio.ico">  
</head>

<br/>
<body>
   <div class="container">
    <div>  
      <form style="padding: 10px;" #formValidate="ngForm">

         <div class="card bg-secondary text-white" style="text-align: center;">
            <div class="card-header">
               Cadastro de Usuários
            </div>
         </div>

         <div class="form-row">
            <div class="form-group col-md-1">
               <label for="id">ID</label>
                 <input type="text" [(ngModel)]="usuario.id" class="form-control" id="id" readonly="true" name="id"
                     autocomplete="false">
            </div>
         </div>

         <div class="form-row">
            <div class="form-group col-md-6">
               <label for="login">Login</label>
                  <input type="text" [(ngModel)]="usuario.login" class="form-control" id="login" name="login" required="true"
                     autocomplete="false">
            </div>

            <div class="form-group col-md-6">
               <label for="nome">Nome</label>
                 <input type="text" [(ngModel)]="usuario.nome" class="form-control" id="nome" name="nome" required="true"
                     autocomplete="false">
            </div>
         </div>

         <div class="form-row">
            <div class="form-group col-md-6">
               <label for="email">Email</label>
                 <input type="text" [(ngModel)]="usuario.email" class="form-control" id="email" name="email" required="true"
                     autocomplete="false">
            </div>

            <div class="form-group col-md-6">
               <label for="senha">Senha</label>
                  <input type="password" [(ngModel)]="usuario.senha" class="form-control" id="senha" name="senha" required="true"
                     autocomplete="false">
            </div>
         </div>

         <br/>   

         <div class="card bg-secondary text-white" style="text-align: center;">
            <div class="card-header">
               Cadastro de Telefones
            </div>
         </div>

         <div class="card-body" style="padding-left: 1px;">
            <div class="form-row">
               <div class="form-group col-md-2">
                  <input type="text" mask="(00) 0 0000-0000" class="form-control" [(ngModel)]="telefone.numero" id="numero" name="numero" placeholder="(XX)9 9999-9999">
               </div>

            <div class="form-group col-md-2">
                  <button class="btn btn-primary" (click)="addFone()">Adicionar</button>
               </div>         
            </div>
         </div>   

         <div>   
            <table class="table table-striped">
               <thead class="thead-dark">
                  <th scope="col">ID</th>
                  <th scope="col">Número</th>
                  <th scope="col">Excluir</th>
               </thead>

               <tbody>
                     <tr *ngFor="let fone of usuario.telefones; let i = index">
                        <td>{{fone.id}}</td>
                        <td>{{fone.numero | mask:'(00) 0 0000-0000'}}</td>
                        <td><button class="btn btn-danger" (click)="deletarTelefone(fone.id, i)">Excluir</button></td>
                     </tr>
               </tbody>
            </table>
      </div>
      <!--
      <div class="form-row">
         <div class="form-group col-md-2">
            <label for="cep">Cep</label>
            <input type="text" [(ngModel)]="usuario.cep" class="form-control" id="cep" name="cep" required="true" autocomplete="false">
         </div>     

         <div class="form-group col-md-5">
            <label for="logradouro">Endereco</label>
            <input type="text" [(ngModel)]="usuario.logradouro" class="form-control" id="logradouro" name="logradouro" required="true" autocomplete="false">
         </div>      

         <div class="form-group col-md-5">
            <label for="bairro">Bairro</label>
            <input type="text" [(ngModel)]="usuario.bairro" class="form-control" id="bairro" name="bairro" required="true" autocomplete="false">
         </div>      
      </div>

   <div class="form-row">
         <div class="form-group col-md-4">
            <label for="complemento">Complemento</label>
            <input type="text" [(ngModel)]="usuario.complemento" class="form-control" id="complemento" name="complemento" required="true" autocomplete="false">
         </div>     

         <div class="form-group col-md-4">
            <label for="localidade">Localidade</label>
            <input type="text" [(ngModel)]="usuario.localidade" class="form-control" id="localidade" name="localidade" required="true" autocomplete="false">
         </div>      

         <div class="form-group col-md-1">
            <label for="uf">UF</label>
            <input type="text" [(ngModel)]="usuario.uf" class="form-control" id="uf" name="uf" required="true" autocomplete="false">
         </div>      
      </div>   
   -->
         <div class="form-row">
            <div class="form-group col-md-6">
               <button type="button" class="btn btn-info" [routerLink]="['/usuarioList']"
                  routerLinkActive="router-link-active">Voltar</button>
               <button type="button" class="btn btn-success" (click)="novo()" style="margin-left: 10px;">Novo</button>
               <button type="button" class="btn btn-primary" [disabled]="formValidate.invalid" (click)="salvarUser()"
                  style="margin-left: 10px;">Salvar</button>
            </div>
         </div>
      </form>
   </div>
</div>
</body>
</html>