<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Cadastro de Clientes</title>
  <link rel="icon" type="image/x-icon" href="assets/studio.ico">
</head>

<br />

<body>
  <div class="container">
      <div class="card bg-secondary text-white" style="text-align: center;">
        <div class="card-header">
          Cadastro de Clientes
        </div>
      </div>

      <br />

    <div>  
      <form class="form-inline">

        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" placeholder="Pesquisa por Nome">
        </div>
        <div>
          <button type="button" (click)="consultaCliente()" class="btn btn-info mb-2">Pesquisar</button>
          <button type="button" [routerLink]="['/clienteAdd']" routerLinkActive="router-link-active"
            style="margin-left: 5px;" class="btn btn-success mb-2">Novo</button>
          <button type="button" (click)="imprimeRelatorioCli()" data-toggle="modal" data-target="#myModal"
            class="btn btn-primary mb-2" style="margin-left: 5px;">Relatório</button>
        </div>
      </form>
    </div>
    
    <br />

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
          <thead class="thead-dark">
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Excluir</th>
            <th scope="col">Alterar</th>
          </thead>

          <tbody>
            <tr *ngFor="let client of clients | paginate: { itemsPerPage: 5, currentPage: p, totalItems: total } let i = index" class="info">
              <td>{{client.id}}</td>
              <td>{{client.nome}}</td>
              <td>{{client.email}}</td>
              <td><button (click)="deleteCliente(client.id, i)" class="btn btn-danger">Excluir</button></td>        
              <td><button [routerLink]="['/clienteAdd', client.id]" routerLinkActive="router-link-active"
                  class="btn btn-warning">Editar</button></td>
            </tr>
          </tbody>

        </table>
      </div>

      <div class="text-center">
        <pagination-controls (pageChange)="carregarPaginaCli(p = $event);" previousLabel="Anterior" nextLabel="Próximo"
          responsive="true"></pagination-controls>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="min-width: 90%; min-height: 90%; height: 90%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Relatório de Clientes - Studio Sousa Aragão</h5>
            </div>
            <div class="modal-body">
              <iframe id="pdf" width="100%" height="500" frameborder="0" allowtransparency="true"></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>  
</body>

</html>